{% extends "base.html" %}
{% load i18n %}
{% load static %}
    {% if messages %}
    <div>
      <strong>{% translate 'Messages' %}:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
{% endblock %}
{% block body %}
  <div class="account-container container">
    <div class="row">
      <div class="account-box col-10 col-md-6 col-lg-4 offset-lg-4 offset-md-3 offset-1">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_body %}
{% endblock %}

