{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="socialaccount_ballot">
  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
</div>
<div class="socialaccount_ballot_small">
  {% include "socialaccount/snippets/provider_list_small.html" with process="login" %}
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<hr>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <br>
  <button class="btn btn-primary primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
