{% extends "base.html" %}
{% load static %}
{% block head_title %}
Выбранные элективы
{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/applications.css' %}">
  <script src="https://SortableJS.github.io/Sortable/Sortable.js"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <h2>Выбранные элективы</h2>
  </div>
  <div class="row canvas">
    <div class="col-md-3 fall-column column">
      <div class="title">
        <h5>Осень</h5>
      </div>
      <div class="inner-column" id="fall">

      </div>
    </div>
  <div class="col-md-6 main-column" id="main">
    {% for application in applications %}

    <div class="application card small-font">
      <div class="elective-name card-header">
        <a href="{% url 'electives:elective_page' application.elective_id %}" target="_blank">
            {{ application.elective.name }}
        </a>
      </div>

      <div class="application-body card-body">
        <div class="card-subtitle text-muted">
          <div class="card-element btn-group elective-kind">
            <button type="button" class="btn dropdown-toggle small-font"
                    data-bs-toggle="dropdown" aria-expanded="false">
              {{ application.kind.long_name }}
            </button>
            <ul class="dropdown-menu small-font">
              {% for short_kind, full_kind, _ in application.elective.text_kinds %}
                 <li><a class="dropdown-item" href="#">{{ full_kind }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="card-element credit-units">
            {{ application.kind.credit_units }} з.е.
          </div>
        </div>
        <div class="exam" role="group">
          <label for="exam-{{ application.elective_id }}-{{ application.kind_id }}"
                 class="exam-container small-font">
            Экзамен
            <input type="checkbox"
                   {% if application.kind.credit_units == 2 %}
                     disabled
                   {% else %}
                     {% if application.with_examination %} checked {% endif %}
                   {% endif %}
                   id="exam-{{ application.elective_id }}-{{ application.kind_id }}"
                   class="exam-input">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
  <div class="col-md-3 spring-column column">
    <div class="title">
      <h5>Весна</h5>
    </div>
    <div class="inner-column" id="spring">

    </div>
  </div>
  </div>
</div>
<script>
new Sortable(main, {
  group: 'electives',
});
new Sortable(fall, {
  group: 'electives',
});
new Sortable(spring, {
  group: 'electives',
});
</script>
{% endblock %}
