{% extends "base.html" %}
{% load static %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile_edit.css' %}">
{% endblock %}

{% block head_title %}
  Edit profile
{% endblock %}

{% block body %}
  <div class="container env-page">
    <div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
           aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'electives:elective_list' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
              </svg>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'account:personal_page' user.id %}">Profile</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
      </nav>
      <form action method="post">
        {% csrf_token %}
        <div class="edit-form">
          <div class="form-element">
            <label for="{{ form.first_name.id_for_label }}" class="control-label">
                First name
            </label>
            <div class="controls">
              <input value="{{ form.first_name.value }}"
                     type="text" name="{{ form.first_name.html_name }}"
                     class="textInput form-control" id="{{ form.first_name.id_for_label }}">
            </div>
          </div>
          <div class="form-element">
            <label for="{{ form.last_name.id_for_label }}" class="control-label">
              Last name
            </label>
            <div class="controls">
              <input value="{{ form.last_name.value }}"
                      type="text" name="{{ form.last_name.html_name }}"
                     class="form-control" id="{{ form.last_name.id_for_label }}">
            </div>
          </div>
          <div class="form-element">
            <label for="{{ form.email.id_for_label }}" class="control-label">
              Email
            </label>
            <div class="controls">
              <input value="{{ form.email.value }}"
                     type="text" name="{{ form.email.html_name }}"
                     class="form-control" id="{{ form.email.id_for_label }}">
            </div>
          </div>
          <div class="form-element">
            <label for="{{ form.student_group.id_for_label }}" class="control-label">
              Student group
            </label>
            <div class="controls">
              {{ form.student_group }}
            </div>
          </div>
        </div>
        <div class="buttons">
          <input type="submit" name="save" value="Save" class="btn btn-sm btn-primary" id="saveProfile">
          <input type="reset" name="reset" value="Reset" class="btn btn-sm btn-outline-secondary" id="resetProfile">
        </div>
      </form>
    </div>
  </div>
{% endblock %}