.icon {
    display: block;
    float: left;
    position: relative;
    width: min-content;

    margin-right: 40px;
}

.edit-form {
    display: none;
}

.profile {
    margin-top: 20px;
}

.edit-profile-button {
    float: right;
    position: relative;
    display: block;
    width: 60px;
    color: #1b1b1b;
}

.username {
    margin-bottom: 20px;
}

.warning {
    color: #a41515;
}

@media screen and (max-width: 420px) {
    .course-info .max-cu {
        display: none;
    }
}

@media screen and (max-width: 335px) {
    .course-info .exams {
        display: none;
    }
}

