html {
    height: 100%;
}
body {
    background-color: #fff;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12pt;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.body-content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.footer-container {
    margin-top: 100px;
}

.statistic {
    margin-left: 4px;
    padding-left: 4px;
}

.kind-inner-container {
    width: 100%;
}

.statistic-maybe {
    color: #747474;
}

.statistic-container {
    float: right;
}

.accordion-button:not(.collapsed) {
    background-color: #effffe;
    color: #01579b;
}

.env-page {
    padding-top: 10px;
}

@media (max-width: 768px) {
    .env-page {
        width: calc(100% - 10px);
        padding-left: 10px;
    }
}

.title-row {
    text-align: center;
}

.account-box h1 {
    text-align: center;
}

.primaryAction {
    margin-top: 10px;
}

.errorlist li {
    list-style-type: circle;
    font-style: italic;
    font-size: x-small;
    color: #993300;
}

