.navbar-div {
  background: #1a535c;
}

.nav-link {
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 10px;
  color: rgba(255, 255, 255, .55);
}
.nav-link:hover {
  color: rgba(255, 255, 255, .75);
}

#account-icon:hover {
  cursor: pointer;
  fill: white;
}

#submitLanguage {
  display: none;
}

#languages {
  margin: 4px 10px 4px 4px;
  padding: 8px;
  border-radius: 3px;
  background-color: #eee;
}

.language-option {
  display: block;
  margin: 8px;
  padding: 8px;
  background-color: #eee;
}