{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}
<style>
    .my-button {
        margin: 5px;
    }
</style>

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
          <a href="{% url 'parsing:parsing' %}">
            <div class="my-button button" style="margin: 5px">{% translate 'Go to parsing page' %}</div>
          </a>

        <a href="{% url 'electives:download_table' %}" download>
            <div class="my-button button" style="margin: 5px">{% translate 'Download summary table' %}</div>
        </a>

        <div style="margin: 5px" class="my-button button" onclick="restart_counter()">{% translate 'Restart elective counter' %}</div>
      </div>

        <script type="text/javascript">
            function restart_counter() {
                console.log('restart')
                let xhr = new XMLHttpRequest();
                xhr.open('GET', '{% url 'electives:restart_counter' %}');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        alert('Counter restarted');
                    }
                    else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }
            {#$('.button').click(function () {#}
            {#    $.ajax({type: 'GET', url: '{% url 'electives:restart_counter' %}'});#}
            {#});#}
        </script>

        <h2>{% translate 'Recent actions' %}</h2>
        <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% translate 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}

