apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-static
spec:
  type: ClusterIP
  ports:
    - name: http 
      port: {{ remote_port | default(80) }}
      targetPort: 8080
  selector:
    app: {{ app_name }}-static
