{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}
  {% translate 'Help' %}
{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/help_page.css' %}">
{% endblock %}
{% block body %}
  <div class="row col-md-8 offset-md-2 env-page">
    <h1> Справка </h1>
    <p>
      Веб-интерфейс предназначен для упрощения выбора элективов на 3-4 семестры для студентов МКН.
    </p>
    <ul>
      <li>
        Каждый студент должен выбрать некоторый набор курсов, которые он хочет проходить в следующем году.
      </li>
      <li>
        Курсы могут предлагаться в различных форматах проведения (соответственно, стоить разное число зачетных единиц) и на разных языках. Студенты разных направлений должны набирать собственное количество зачетных единиц.
      </li>
      <li>
        На каждый из семестров студент формирует общее заявление - упорядоченный список заявлений на отдельные курсы с указанными форматами проведения. Далее по заявлениям формируется итоговый список курсов, которые состоятся в следующем учебном году. Так как в него  не попадут все элективы и только в одном из форматов, заявление должно содержать б<em>о</em>льшее число курсов, чем необходимо.
      </li>
    </ul>
    <h3>Основные элементы</h3>
      <h4>Страница заявлений</h4>
        <p>
          Студенту предоставляется интерфейс для составления общего заявления, состоящий из двух колонок на осень и двух на весну.
          Выбирать на весну можно и нужно параллельно с осенью.
          Если выбор курсов на осень и на весну проходит в разное время, после утверждения осенних курсов, можно будет отредактировать заявление на весну.
        </p>
        <img class="illustration" src="{% static 'images/applications.png' %}" alt="Интерфейс составления заявления">
        <p>
          Предполагается, что сначала студент набирает длинные списки заинтересовавших его курсов в средние потенциальные колонки,
          тем самым показывая, что он возможно будет брать их в соответствующем семестре.
          Далее он может перемещать их в крайние колонки, которые и являются итоговыми заявлениями.
        </p>
        <p>
          Дополнительно на этой странице студенты могут менять выбранный формат, язык, семестр,
          могут удалять и дублировать заявления.
        </p>
      <h4>Список всех курсов</h4>
        <p>
          На главной странице студенты могут видеть актуальное количество реальных и потенциальных заявлений на каждый курс.
        </p>
        <img class="illustration" src="{% static 'images/main_page.png' %}" alt="Главная страница">
        <p>
          Для каждого курса, формата и языка отведены отдельные прямоугольники,
          где первым числом обозначено количество заявлений, а вторым - потенциальных заявлений.
        </p>
        <p>
          Кроме просмотра статистики на главной странице можно добавлять курсы в свои списки потенциальных заявлений.
          Для этого необходимо кликнуть кнопку с нужным форматом в нужном семестре.
        </p>
        <p>
          Более яркий цвет кнопки говорит о том, что у вас есть хотя бы одно заявление (возможно потенциальное).
          При нажатии на такую кнопку удаляются все заявления на данный курс только в формате, указанном на кнопке, и на семестр, в колонке которого находиится кнопка.
        </p>
        <p>
          В нижней части страницы вы можете найти кнопку, разворачивающую все тематики. Второе нажатие свернет их.
          Там же есть окно для поиска по ключевому слову. Пустой запрос вернет к исходному списку.
        </p>
        <p>
          Внутри каждой тематики курсы можно отсортировать по количеству заявлений на осень или на весну,
          для этого необходимо кликнуть на кнопку сортировки
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
          </svg>
          в соответствующем столбце. Повторное нажатие возвращает к исходному порядку.
        </p>
      <h4>Страница курса</h4>
        <p>
          У каждого электива есть собственная страница, на которой можно найти ссылки на описание,
          добавить нужные форматы в длинный список и посмотреть список уже выбравших этот курс студентов.
        </p>
        <p>
          Аналогично главной странице у каждого формата отображается количество заявлений.
        </p>
        <p>
          В списке студентов отображаются выбранные форматы в конце строки в сжатом формате:
          первые две буквы - язык, далее одна или две буквы - кодовое название формата (с - семинар, м - малый курс, б - большой курс),
          последний символ - 1, если на осень, 2, если на весну.

          Формат имеет зеленый фон, если курс с таким форматом вошел в заявление, и серый фон, если этот формат вошел только в потенциальные заявления.
        </p>
        <img class="illustration" src="{% static 'images/elective_page.png' %}" alt="Страница курса">
      <h4>Профиль</h4>
        <p>
          На странице профиля можно посмотреть ограничения по экзаменам, зачетным единицам и другие.
          Также здесь можно отредактировать профиль, выбрать направление, поменять пароль.
        </p>
        <img class="illustration" src="{% static 'images/personal_page.png' %}" alt="Страница студента">
  </div>
{% endblock %}
