{% load i18n %}
<div class="row application-row">
    <div class="col-2 title-codes">
      <span>{% translate 'Fall request' %}</span>
    </div>
    <div class="col-10 code-container">
      <span class="copy-codes" onclick="copyCodes('fall')">
				<i class="fas fa-copy"></i>
			</span>
      <div class="codes codes-fall">
        {{ fall_code_row }}
      </div>
    </div>
  </div>
  <div class="row application-row">
    <div class="col-2 title-codes">
      <span>{% translate 'Spring request' %}</span>
    </div>
    <div class="col-10">
      <span class="copy-codes" onclick="copyCodes('spring')">
				<i class="fas fa-copy"></i>
			</span>
      <div class="codes codes-spring">
        {{ spring_code_row }}
      </div>
    </div>
  </div>
  <div class="row application-row">
    <div class="col-2 title-codes">
      <span>{% translate 'Google Form' %}</span>
    </div>
    <div class="col-10">
      <div class="codes google-form-url">
        <a target="_blank" href="{{ google_form_url }}">{{ google_form_url }}</a>
      </div>
    </div>
  </div>