{% extends "base.html" %}
{% load static %}
{% block head_title %}
  Elective list
{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'electives/css/main_page.css' %}">
{% endblock %}
{% block body %}
<div class="row col-md-8 offset-md-2 options-header">
		<div class="col-md-6">
			<button type="button" class="btn btn-outline-secondary thematic-switch" onclick="clickSwitch(this)">
				Unroll
			</button>
		</div>
		<div class="col-md-6">
			<input id="filterInput" class="form-control me-0" type="search" placeholder="Keywords" aria-label="Filter">
			<button class="btn btn-outline-success filter-electives" type="submit" onclick="filterElectives()">Filter</button>
		</div>
</div>
  <div class="accordion accordion-flush" id="accordionPanelsElective">
  {% for thematic, electives in elective_groups %}
		{% if electives|length > 0 %}
    {% include "electives/themetic_list.html" with thematic=thematic electives=electives student_id=student_id block_fall_applications=block_fall_applications block_spring_applications=block_spring_applications%}
		{% endif %}
  {% endfor %}
  </div>
  <script>
      function change_kind(electiveId, kindId) {
          $.post("{% url 'electives:change_kind' %}",
              {'kind_id': kindId, 'elective_id': electiveId, 'csrfmiddlewaretoken': csrftoken},
              function(data) {
                  $(`#statistic-${electiveId}-${kindId}`)[0].innerHTML = data['students_count'][true];
                  $(`#statistic-maybe-${electiveId}-${kindId}`)[0].innerHTML = data['students_count'][false];
                  if (data['move'] !== null && data['other_language_kind'] !== null) {
                      $(`#statistic-${electiveId}-${data['other_language_kind']}`)[0].innerHTML = data['other_kind_counts'][true];
                      $(`#statistic-maybe-${electiveId}-${data['other_language_kind']}`)[0].innerHTML = data['other_kind_counts'][false];
                      $(`#button-${data['other_short_name']}-${electiveId}`)[0].checked = false;
                  }
                  const counter = $(`#row-${electiveId}`)[0];
									counter.dataset.fall = data['fall_count'];
									counter.dataset.spring = data['spring_count'];
              });
      }

      function clickSwitch(input) {
				if (input.hasAttribute('opened')) {
					input.removeAttribute('opened');
					$('.accordion-collapse').removeClass('show');
					input.innerText = 'Unroll';
				} else {
					input.setAttribute('opened', true);
					$('.accordion-collapse').addClass('show');
					input.innerText = 'Roll';
				}
      }

			function sortColumn(columnName, thematicId, direction = 1) {
				let self = $(`#sort-${columnName}-${thematicId}`)[0];
				if (self.hasAttribute('sorted')) {
					self.removeAttribute('sorted');
					$(self).prop('checked', false);
					columnName = 'title';
				} else {
					self.setAttribute('sorted', true);
				}
				if (columnName === 'title') {
					direction = -1;
				}
				const parent = $(`.thematic-${thematicId}`);
				const items = parent.children(`.row-${thematicId}`).sort(function(a, b) {
					let vA = a.dataset[columnName];
					let vB = b.dataset[columnName];
					return direction * ((vA > vB) ? -1 : (vA < vB) ? 1 : 0);
				});
				parent.append(items);
			}

			function filterElectives() {
          const filter = document.getElementById('filterInput').value.toLowerCase();
          const parents = $('.accordion-body');
          for (let parent of parents) {
              const items = $(parent).children('.elective-row');
              items.map(function(number, elective) {
                  const dataset = elective.dataset;
                  let include = dataset['title'].toLowerCase().includes(filter) || dataset['russianName'].toLowerCase().includes(filter) || dataset['englishName'].toLowerCase().includes(filter) || dataset['teachers'].toLowerCase().includes(filter);
                  if (include) {
                      $(elective).show();
                  } else {
                      $(elective).removeAttr("style").hide();
                  }
              });
          }
			}
  </script>
{% endblock %}
