{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}
  {% translate 'Elective list' %}
{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'electives/css/main_page.css' %}">
{% endblock %}
{% block body %}
<div class="row col-md-8 offset-md-2 options-header">
		<div class="col-md-6">
			<button type="button" class="btn btn-outline-secondary thematic-switch" onclick="clickSwitch(this)">
				{% translate 'Unroll' %}
			</button>
		</div>
		<div class="col-md-6">
			<input id="filterInput" class="form-control me-0" type="search"
             placeholder="{% translate 'Keyword' %}" aria-label="Filter">
			<button class="btn btn-outline-success filter-electives" type="submit" onclick="filterElectives()">
        {% translate 'Filter' %}
      </button>
		</div>
</div>
  <div class="accordion accordion-flush" id="accordionPanelsElective">
  {% for thematic, electives, is_opened in elective_groups %}
		{% if electives|length > 0 %}
    {% include "electives/themetic_list.html" with is_opened=is_opened thematic=thematic electives=electives student_id=student_id block_fall_applications=block_fall_applications block_spring_applications=block_spring_applications%}
		{% endif %}
  {% endfor %}
  </div>
  <script>
  const electivesChangeKindURL = "{% url 'electives:change_kind' %}";
  const saveOpenedThematicURL = "{% url 'electives:save_opened_thematic' %}";
  </script>
  <script src="{% static 'electives/js/elective_list.js' %}"></script>
{% endblock %}
