{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}
{% translate 'Your applications' %}
{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'electives/css/applications.css' %}">
  <script src="https://SortableJS.github.io/Sortable/Sortable.js"></script>
{% endblock %}

{% block body %}
<div class="container-lg application-container">
  <div class="row title-row">
    <h2>
      {% translate 'Your applications' %}
    </h2>
  </div>
  {% if show_google_form %}
    {% include 'electives/code_requests.html' with google_form_url=google_form_url fall_code_row=fall_code_row spring_code_row=spring_code_row %}
	{% endif %}

  <div class="row canvas">
    <div class="col-xl-3 col-6 fall-column column">
      <div class="title">
        <h5 class="column-title">
          {% translate 'Fall' %}
        </h5>
        <div id="fall-window" class="credit-units-window" data-too-few-credits="{{ credit_units_fall.is_too_few }}">
          <div class="sum-credit-units credit-units-value">
            <span class="credit-units-title">
              &#931;
            </span>
            <span class="credit-units-content fall-credits">
              {{ credit_units_fall.sum }}
            </span>
          </div>
          <div class="min-credit-units credit-units-value">
            <span class="credit-units-title">
              /
            </span>
            <span class="credit-units-content">
              {{ credit_units_fall.min }}
            </span>
          </div>
        </div>
      </div>
      <div class="inner-column" id="fall">
        {% for application in applications_fall %}
          {% include "electives/application_card.html" with application=application %}
        {% endfor %}
      </div>
    </div>
    <div class="col-xl-3 col-6 potential-fall-column column">
      <div class="title">
        <h5 class="column-title potential-column">
          {% translate 'Fall (potentially)' %}
        </h5>
        <div class="credit-units-window">
          <div class="sum-credit-units credit-units-value">
            <span class="credit-units-title">
              &#931;
            </span>
            <span class="credit-units-content potential-fall-credits">
              {{ credit_units_potential_fall.sum }}
            </span>
          </div>
        </div>
      </div>
      <div class="inner-column" id="potentialFall">
        {% for application in applications_fall_potential %}
          {% include "electives/application_card.html" with application=application %}
        {% endfor %}
      </div>
    </div>
    <div class="col-xl-3 col-6 potential-spring-column column">
      <div class="title">
        <h5 class="column-title potential-column">
          {% translate 'Spring (potentially)' %}
        </h5>
        <div class="credit-units-window">
          <div class="sum-credit-units credit-units-value">
            <span class="credit-units-title">
              &#931;
            </span>
            <span class="credit-units-content potential-spring-credits">
              {{ credit_units_potential_spring.sum }}
            </span>
          </div>
        </div>
      </div>
      <div class="inner-column" id="potentialSpring">
        {% for application in applications_spring_potential %}
          {% include "electives/application_card.html" with application=application %}
        {% endfor %}
      </div>
    </div>
    <div class="col-xl-3 col-6 spring-column column">
      <div class="title">
        <h5 class="column-title">
          {% translate 'Spring' %}
        </h5>
        <div id="spring-window" class="credit-units-window" data-too-few-credits="{{ credit_units_spring.is_too_few }}">
          <div class="sum-credit-units credit-units-value">
            <span class="credit-units-title">
              &#931;
            </span>
            <span class="credit-units-content spring-credits">
              {{ credit_units_spring.sum }}
            </span>
          </div>
          <div class="min-credit-units credit-units-value">
            <span class="credit-units-title">
              /
            </span>
            <span class="credit-units-content">
              {{ credit_units_spring.min }}
            </span>
          </div>
        </div>
      </div>
      <div class="inner-column" id="spring">
        {% for application in applications_spring %}
          {% include "electives/application_card.html" with application=application %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  const electivesChangeExamURL = "{% url 'electives:change_application_exam' %}";
  const electivesChangeKindURL = "{% url 'electives:change_application_kind' %}";
  const electivesApplyApplicationURL = "{% url 'electives:apply_application' %}";
  const electivesRemoveApplicationURL = "{% url 'electives:remove_application' %}";
  const electivesUpdateCodesURL = "{% url 'electives:get_application_rows' %}";
  const electivesDuplicateApplicationURL = "{% url 'electives:duplicate_application' %}";
</script>
<script src="{% static 'electives/js/sort_electives.js' %}"></script>
<script>
  let currentDrag;
  let potentialFallSortable;
  let fallSortable;
  let potentialSpringSortable;
  let springSortable;
  {% if not block_fall_applications %}
      potentialFallSortable = new Sortable(potentialFall, {
          group: {
              name: 'electives',
              put: function (_) {
                  const applicationSemesters = currentDrag.id.split('-')[2];
                  return currentDrag !== undefined && applicationSemesters !== '2';
              },
          },
          animation: 150,
          onStart: function (evt) {
              currentDrag = evt.item;
          },
          onEnd: function (evt) {
              applyApplication(currentDrag, evt.to.id, evt.newIndex);
              currentDrag = undefined;
          },
          onClone: function (evt) {
              let origEl = evt.item;
              $(origEl).css('background', '#fdeaa8');
          },
          onUnchoose: function (evt) {
              let application = evt.item;
              $(application).css('background', 'white');
          },
      });
      fallSortable = new Sortable(fall, {
          group: {
              name: 'electives',
              put: function (_) {
                  const applicationSemesters = currentDrag.id.split('-')[2];
                  return currentDrag !== undefined && applicationSemesters !== '2';
              },
          },
          animation: 150,
          onStart: function (evt) {
              currentDrag = evt.item;
          },
          onEnd: function (evt) {
              applyApplication(currentDrag, evt.to.id, evt.newIndex);
              currentDrag = undefined;
          },
          onClone: function (evt) {
              let origEl = evt.item;
              $(origEl).css('background', '#fdeaa8');
          },
          onUnchoose: function (evt) {
              let application = evt.item;
              $(application).css('background', 'white');
          },
      });
  {% endif %}
  {% if not block_spring_applications %}
      potentialSpringSortable = new Sortable(potentialSpring, {
          group: {
              name: 'electives',
              put: function (_) {
                  const applicationSemesters = currentDrag.id.split('-')[2];
                  return currentDrag !== undefined && applicationSemesters !== '1';
              },
          },
          animation: 150,
          onStart: function (evt) {
              currentDrag = evt.item;
          },
          onEnd: function (evt) {
              applyApplication(currentDrag, evt.to.id, evt.newIndex);
              currentDrag = undefined;
          },
          onClone: function (evt) {
              let origEl = evt.item;
              $(origEl).css('background', '#fdeaa8');
          },
          onUnchoose: function (evt) {
              let application = evt.item;
              $(application).css('background', 'white');
          },
      });
      springSortable = new Sortable(spring, {
          group: {
              name: 'electives',
              put: function (_) {
                  const applicationSemesters = currentDrag.id.split('-')[2];
                  return currentDrag !== undefined && applicationSemesters !== '1';
              },
          },
          animation: 150,
          onStart: function (evt) {
              currentDrag = evt.item;
          },
          onEnd: function (evt) {
              applyApplication(currentDrag, evt.to.id, evt.newIndex);
              currentDrag = undefined;
          },
          onClone: function (evt) {
              let origEl = evt.item;
              $(origEl).css('background', '#fdeaa8');
          },
          onUnchoose: function (evt) {
              let application = evt.item;
              $(application).css('background', 'white');
          },
      });
  {% endif %}
</script>
{% endblock %}
