{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'electives/css/sort_page_help.css' %}">
<div class="container">
  <div class="roll-text">
    <p>На этой странице вы формируете списки желаемых курсов на осенний и на весенний семестр. Для конечного заявления отведены две крайние колонки.</p>
    <p>Для упрощения выбора курсов из общего списка, мы предлагаем сначала собирать списки "потенциальных заявлений", то есть списки курсов, которые чем-либо заинтересовали вас. Для таких заявлений предназначены средние колонки. Далее из списков "потенциальных заявлений" вы формируете конечные заявления на те курсы, которые вы хотите слушать в следующем году.</p>
    <p>Именно в эти колонки попадают заявления, при создании на главной странице курсов или на отдельной странице курса.</p>
    <p>Вы можете перемещать заявления внутри колонки или между колонками, если это согласовано с возможными форматами.</p>
    <p>Курсы бывают трёх видов:</p>
    <ul>
      <li>малые курсы (1 лекция в неделю, 3 з.е.)</li>
      <li>большие курсы (1 лекция и 1 семинар в неделю, 4 з.е.)</li>
      <li>семинары (1 семинар в неделю, 2 з.е.)</li>
    </ul>
    <p>Если малый или большой курс состоится, то его можно выбрать в облегчённом варианте: на одну з.е. меньше и с зачётом вместо экзамена; студенты, выбравшие обычный и облегчённый варианты курса, посещают одни и те же занятия, но сдают по разным правилам.</p>
    <p>Поскольку студент, высказывая свои предпочтения, ещё не знает, какие курсы состоятся, а какие не состоятся, <b>в своём запросе лучше перечислить существенно больше курсов, чем необходимо по учебному плану</b>. Студенты, предпочитающие выбрать поменьше курсов в рамках допустимого интервала, могут безбоязненно указывать длинный список — в итоге ничто не помешает им записаться лишь на необходимый минимум состоявшихся курсов.</p>
  </div>
</div>