{% load i18n %}
<div id="accordionPanelsStayOpen{{ forloop.counter }}"
     class="div-electives col-md-8 offset-md-2 accordion-item">
    <h3 class="thematic-name accordion-header"
        id="panelsStayOpen-heading{{ forloop.counter }}">
      <button 
				class="accordion-button {% if not is_opened %} collapsed {% endif %}"
				type="button" data-bs-toggle="collapse"
              onclick="switchThematic('{{ thematic.short_name }}')"
              data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}"
              aria-expanded="{% if is_opened %} true {% else %} false {% endif %}"
              aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
        {{ thematic.name }} / {{ thematic.english_name }}
      </button>
    </h3>
    <div id="panelsStayOpen-collapse{{ forloop.counter }}"
         class="accordion-collapse {% if is_opened %} show {% else %} collapse {% endif %}"
         aria-labelledby="panelsStayOpen-{{ forloop.counter }}">
			<div class="accordion-body thematic-{{ thematic.pk }}">
        <div class="row title-row">
          <div class="col-5">
            {% translate 'Title' %}
          </div>
          <div class="col-3">
            {% translate 'Teachers' %}
          </div>
          <div class="col-2">
            {% translate 'Fall' %}
            {% if not block_fall %}
            {% include "electives/sort_button.html" with thematic_id=thematic.pk column_name='fall' %}
            {% endif %}
          </div>
          <div class="col-2">
            {% translate 'Spring' %}
						{% include "electives/sort_button.html" with thematic_id=thematic.pk column_name='spring' %}
          </div>
        </div>
        {% for elective, languages, info_fall, info_spring in electives %}
					<div class="elective-row row table-row row-{{ thematic.pk }}"
						id="row-{{ elective.pk }}"
            data-russian-name="{{ elective.name }}"
            data-english-name="{{ elective.english_name }}"
            data-teachers="{{ elective.text_teachers }}"
						data-title={{ elective.codename }}
						data-fall={{ info_fall }}
						data-spring={{ info_spring }}>
          {% for language, semesters in languages %}
          <div class="row">
            <div class="col-5">
              <a href={% url 'electives:elective_page' elective.pk %}>
                {% if language == 'ru' %}
                  {{ elective.name }}
                {% else %}
                  {{ elective.english_name }}
                {% endif %}
              </a>
            </div>
            {% if elective.has_english_kind and language == 'en' %}
              <div class="col-3">{{ elective.text_teachers }}</div>
            {% elif elective.has_russian_kind and not elective.has_english_kind %}
              <div class="col-3">{{ elective.text_teachers }}</div>
            {% else %}
              <div class="col-3"></div>
            {% endif %}
            {% if elective.has_not_fall %}
              <div class="col-2"></div>
            {% endif %}
            {% for semester, kinds in semesters %}
              <div class="col-2">
              {% if not block_fall or semester == 2 %}
                {% for kind, info in kinds %}
                <input type="checkbox" id="button-{{ kind.short_name }}-{{ elective.pk }}"
                       value="{{ elective.pk }}" class="checkbox-kind"
                       onclick="change_kind({{ elective.pk }}, {{ kind.pk }})"
                       {% if block_fall_applications and kind.semester == 1 %} disabled {% endif %}
                       {% if block_spring_applications and kind.semester == 2 %} disabled {% endif %}
                       {% if info.1.1 or info.0.1 %} checked {% endif %}>
                <label for="button-{{ kind.short_name }}-{{ elective.pk }}"
                       class="semester-{{ kind.semester }} kind-button"
                       title="{{ kind.long_name }}">
                  <div class="kind-inner-container">
                    <span class="kind-name">
                      {% if language == 'ru' %}
                        {{ kind.credit_units_name }}
                      {% else %}
                        {{ kind.credit_units_english_name }}
                      {% endif %}
                    </span>
                    <span class="statistic-container">
                    <span id="statistic-{{ elective.pk }}-{{ kind.pk }}" class="statistic"
                          title="{% translate 'Number of applications' %}">
                      {{ info.0.0 }}
                    </span>
                      <span id="statistic-potential-{{ elective.pk }}-{{ kind.pk }}" class="statistic statistic-potential"
                            title="{% translate 'Number of potential applications' %}">
                      {{ info.1.0 }}
                    </span>
                    </span>
                  </div>
                </label>
                {% endfor %}
              {% endif %}
              </div>
            {% endfor %}
          </div>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
