body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    color: #333;
    background-color: #fff;
}

.env-page {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#div-electives > div.title-row {
    padding: 8px 0;
    font-weight: bold;
}

#div-electives > div.table-row {
    padding: 8px 0;
    border-top: 1px solid #e5e5e5;
}

ul.description-table {
    font-size: 11pt;
}

ul.description-table li:first-child {
    font-weight: bold;
}

span.info-counter {
    position: absolute;
    right: 50px;
}

#accordionElectivePage {
    padding-bottom: 20px;
}


table.description-table {
    width: 100%;
    max-width: 100%;
    background-color: #0000;
    font-size: 11pt;
    border-collapse: collapse;
    border-spacing: 0;
    border: 4px solid #e5e5e5;
    border-radius: 15px;
}

table.description-table > tbody > tr > td,
table.description-table > tbody > tr > th {
    padding: 5px;
}

div.elective-kinds {
    font-size: 11pt;
}

div.save-button {
    padding: 10px 0;
}

/*table.electives {*/
/*    width: 100%;*/
/*    max-width: 100%;*/
/*    background-color: #0000;*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*    font-size: 12pt;*/
/*}*/

/*table.electives > tbody > tr > td {*/
/*    padding: 8px;*/
/*    vertical-align: top;*/
/*    border-top: 1px solid #e5e5e5;*/
/*}*/

/*table.electives > thead > tr > th {*/
/*    padding: 8px;*/
/*    vertical-align: top;*/
/*}*/

/*table.electives > tbody > tr.elective-description > td {*/
/*    border: none;*/
/*    color: #444;*/
/*    font-size: 11pt;*/
/*}*/
