body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    color: #333;
    background-color: #fff;
}

.env-page {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.title-row {
    padding: 8px 0;
    font-weight: bold;
}

.table-row {
    padding: 8px 0;
    border-top: 1px solid #e5e5e5;
}

ul.description-table {
    font-size: 11pt;
}

ul.description-table li:first-child {
    font-weight: bold;
}

.info-counter {
    position: absolute;
    right: 50px;
}

#accordionElectivePage {
    padding-bottom: 20px;
}

.elective-kinds {
    font-size: 11pt;
}

.save-button {
    padding: 10px 0;
}

.semester-1 {
    background-color: gold;
}

.semester-2 {
    background-color: yellowgreen;
}

.elective-row:hover {
    background-color: #f3f3f3;
}

.elective-description {
    word-break: break-all;
}

.accordion-button:not(.collapsed) {
    background-color: #E0F2F1;
    color: #01579B;
}
