.navbar-div {
  background: #1a535c;
}

.nav-link {
  padding-left: 1px;
  padding-right: 10px;
  color: rgba(255, 255, 255, .55);
}
.nav-link:hover {
  color: rgba(255, 255, 255, .75);
}

#account-icon:hover {
  cursor: pointer;
  fill: white;
}
