ul.description-table {
    font-size: 11pt;
}

ul.description-table li:first-child {
    font-weight: bold;
}
@media (max-width: 615px) {
    ul.description-table li:first-child {
        display: none;
    }
    ul.description-table li {
        border-radius: 0.25rem;
        border: none;
        text-align: center;
    }
}

.info-counter {
    position: absolute;
    right: 50px;
}

#accordionElectivePage {
    padding-bottom: 20px;
}

.elective-kinds {
    font-size: 11pt;
}

.save-button {
    padding: 10px 0;
}
.kind-box {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.elective-kind {
    display: inline-block;

    margin-left: 2px;
    padding: 4px;

    background-color: rgba(0, 0, 0, 0.05);

    border-radius: 30%;

    color: #333333;
    font-size: 10pt;
}

.kind-label:hover {
    cursor: pointer;
}

.kinds-list-item {
    max-width: 145px;
}

@media (max-width: 1550px) and (min-width: 1070px) {
    .kind-group-item {
        height: 60px;
    }
}
@media (max-width: 1070px) and (min-width: 992px) {
    .kind-group-item {
        height: 80px;
    }
}

.statistic {
	cursor: help;
}

.attached-application {
    background-color: lightgreen;
}
