{% extends "base.html" %}
{% load static %}
{% block head_title %}
  Elective list
{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/main_page.css' %}">
{% endblock %}
{% block body %}
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Additional options</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row">
        <span>
          Open all thematics
        <label class="switch">
          <input type="checkbox" onchange="clickSwitch(this)">
          <span class="slider round"></span>
        </label>
        </span>
      </div>
      <hr>
      <div class="row">
        <a class="btn btn-outline-secondary" href="{% url 'electives:download_table' %}" download>
          Download summary table
        </a>
      </div>
    </div>
  </div>
  <div class="switch-container">
    <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      Options
    </button>
  </div>
  <div class="accordion accordion-flush" id="accordionPanelsElective">
  {% for thematic, electives in elective_groups.items %}
    {% include "electives/themetic_list.html" with thematic=thematic electives=electives student_id=student_id %}
  {% endfor %}
  </div>
  <script>
      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');

      function change_kind(electiveId, kindId) {
          $.post("{% url 'electives:change_kind' %}",
              {'kind_id': kindId, 'elective_id': electiveId, 'csrfmiddlewaretoken': csrftoken},
              function(data) {
                  $(`#statistic-${electiveId}-${kindId}`)[0].innerHTML = data['students_count'][true];
                  $(`#statistic-maybe-${electiveId}-${kindId}`)[0].innerHTML = data['students_count'][false];
                  if (data['move'] !== null && data['other_language_kind'] !== null) {
                      $(`#statistic-${electiveId}-${data['other_language_kind']}`)[0].innerHTML = data['other_kind_counts'][true];
                      $(`#statistic-maybe-${electiveId}-${data['other_language_kind']}`)[0].innerHTML = data['other_kind_counts'][false];
                      $(`#button-${data['other_short_name']}-${electiveId}`)[0].checked = false;
                  }
									$(`#row-${electiveId}`)[0].dataset.fall = data['fall_count'];
									$(`#row-${electiveId}`)[0].dataset.spring = data['spring_count'];
              });
      }

      function clickSwitch(input) {
          if (input.checked) {
              $('.accordion-collapse').addClass('show');
          } else {
              $('.accordion-collapse').removeClass('show');
          }
      }

			function sortColumn(columnName, thematicId, direction = 1) {
				if (columnName === "title") {
					direction = -1;
				}
				const parent = $(`.thematic-${thematicId}`);
				const items = parent.children(`.row-${thematicId}`).sort(function(a, b) {
					let vA = a.dataset[columnName];
					let vB = b.dataset[columnName];
					if (columnName === "title") {
						vA = parseInt(vA);
						vB = parseInt(vB);
					}
					return direction * ((vA > vB) ? -1 : (vA < vB) ? 1 : 0);
				});
				console.log(parent);
				parent.append(items);
			}

  </script>
{% endblock %}
