<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Elective_list</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		{% load static %}
	</head>
	<body>
		<div class="container-md">
			<div id="div-electives" class="col">
			<ul class="elective-list list-group">
				{% for elective in electives %}
					<li class="list-group-item">
						<span style="width:40%;margin:12px 3px">{{elective.name}}        </span>
						<span style="width:40%;margin:12px 3px">{{elective.text_teacher}}</span>
						<span style="width:20%;margin:12px 3px">{{elective.credit_unit}} </span>
					</li>
				{% endfor %}
			</ul>		
			</div>
		</div>
	</body>
</html>
