{% extends "base.html" %}
{% load static %}
{% block extra_styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/profile_edit.css' %}">
{% endblock %}

{% block head_title %}
  Edit profile
{% endblock %}

{% block body %}
  <div class="container env-page">
    <div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1">
      <form action method="post">
        {% csrf_token %}
        <div class="edit-form">
          <div class="form-element">
            <label for="{{ form.first_name.id_for_label }}" class="control-label">
                First name
            </label>
            <div class="controls">
              <input value="{{ form.first_name.value }}"
                     type="text" name="{{ form.first_name.html_name }}"
                     class="textInput form-control" id="{{ form.first_name.id_for_label }}">
            </div>
          </div>
          <div class="form-element">
            <label for="{{ form.last_name.id_for_label }}" class="control-label">
              Last name
            </label>
            <div class="controls">
              <input value="{{ form.last_name.value }}"
                      type="text" name="{{ form.last_name.html_name }}"
                     class="form-control" id="{{ form.last_name.id_for_label }}">
            </div>
          </div>
          <div class="form-element">
            <label for="{{ form.email.id_for_label }}" class="control-label">
              Email
            </label>
            <div class="controls">
              <input value="{{ form.email.value }}"
                     type="text" name="{{ form.email.html_name }}"
                     class="form-control" id="{{ form.email.id_for_label }}">
            </div>
          </div>
          <div class="form-element">
            <label for="{{ form.student_group.id_for_label }}" class="control-label">
              Student group
            </label>
            <div class="controls">
              {{ form.student_group }}
            </div>
          </div>
        </div>
        <div class="save">
          <input type="submit" name="save" value="Save" class="btn btn-sm btn-primary" id="saveProfile">
        </div>
      </form>
    </div>
  </div>
{% endblock %}