  <div id="accordionPanelsStayOpen{{ forloop.counter }}"
       class="div-electives col-md-8 offset-md-2 accordion accordion-item">
    <h3 class="thematic-name accordion-header"
        id="panelsStayOpen-heading{{ forloop.counter }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
        {{ thematic.name }} / {{ thematic.english_name }}
      </button>
    </h3>
    <div id="panelsStayOpen-collapse{{ forloop.counter }}"
         class="accordion-collapse collapse "
         aria-labelledby="panelsStayOpen-{{ forloop.counter }}">
			<div class="accordion-body thematic-{{ thematic.id }}">
        <div class="row title-row">
          <div class="col-5">
            Title
						{% include "electives/sort_button.html" with thematic_id=thematic.id column_name='title' %}
          </div>
          <div class="col-3">
            Teachers
          </div>
          <div class="col-2">
            Fall
						{% include "electives/sort_button.html" with thematic_id=thematic.id column_name='fall' %}
          </div>
          <div class="col-2">
            Spring
						{% include "electives/sort_button.html" with thematic_id=thematic.id column_name='spring' %}
          </div>
        </div>
        {% for elective, langs_and_info in electives.items %}
					<div class="elective-row row table-row row-{{ thematic.id }}"
						id="row-{{ elective.id }}"
						data-title={{ elective.id }}
						data-fall={{ langs_and_info.1 }}
						data-spring={{ langs_and_info.2 }}>
          {% for language, semesters in langs_and_info.0.items %}
          <div class="row">
            <div class="col-5">
              <a href={% url 'electives:elective_page' elective.id %}>
                {% if language == 'ru' %}
                  {{ elective.name }}
                {% else %}
                  {{ elective.english_name }}
                {% endif %}
              </a>
            </div>
            {% if elective.has_english_kind and language == 'en' %}
              <div class="col-3">{{ elective.text_teachers }}</div>
            {% elif elective.has_russian_kind and not elective.has_english_kind %}
              <div class="col-3">{{ elective.text_teachers }}</div>
            {% else %}
              <div class="col-3"></div>
            {% endif %}
            {% if elective.has_not_fall %}
              <div class="col-2"></div>
            {% endif %}
            {% for semester, kinds in semesters.items %}
              <div class="col-2">
                {% for kind, info in kinds.items %}
                <input type="checkbox" id="button-{{ kind.short_name }}-{{ elective.id }}"
                       value="{{ elective.short_name }}" class="checkbox-kind"
                       onclick="change_kind({{ elective.id }}, {{ kind.id }})"
                        {% if info.1.1 or info.0.1 %} checked {% endif %}>
                <label for="button-{{ kind.short_name }}-{{ elective.id }}"
                       class="semester-{{ kind.semester }} kind-button"
                       title="{{ kind.long_name }}">
                <div class="kind-inner-container">
                <span class="kind-name">
                  {% if language == 'ru' %}
                    {{ kind.credit_units_name }}
                  {% else %}
                    {{ kind.credit_units_english_name }}
                  {% endif %}
                </span>
                  <span class="statistic-container">
                  <span id="statistic-{{ elective.id }}-{{ kind.id }}" class="statistic" title="Number of applications">
                    {{ info.1.0 }}
                  </span>
                    <span id="statistic-maybe-{{ elective.id }}-{{ kind.id }}" class="statistic statistic-maybe"
                          title='Number of "maybe" applications'>
                    {{ info.0.0 }}
                  </span>
                  </span>
                </div>
                </label>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
