<div class="row">
  <div id="accordionPanelsStayOpen{{ forloop.counter }}"
       class="div-electives env-page col-md-8 offset-md-2 accordion accordion-item">
    <h3 class="thematic-name accordion-header"
        id="panelsStayOpen-heading{{ forloop.counter }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
        {{ thematic.name }} / {{ thematic.english_name }}
      </button>
    </h3>
    <div id="panelsStayOpen-collapse{{ forloop.counter }}"
         class="accordion-collapse collapse "
         aria-labelledby="panelsStayOpen-{{ forloop.counter }}">
      <div class="accordion-body">
        <div class="row title-row">
          <div class="col-5">Title</div>
          <div class="col-3">Teachers</div>
          <div class="col-4">Kind</div>
        </div>
        {% for elective_data in electives %}
          <div class="elective-row row table-row">
          {% if elective_data.elective.has_russian_kind %}
          <div class="row">
            <div class="col-5">
              <a href={% url 'electives:elective_page' elective_data.elective.id %}>
                {{ elective_data.elective.name }}
              </a>
            </div>
            <div class="col-3">{{ elective_data.elective.text_teachers }}</div>
            <div class="col-4">
              {% for kind_data in elective_data.kinds  %}
                <input type="checkbox" id="button-{{ kind_data.kind.short_name }}-{{ elective_data.elective.id }}"
                       value="{{ elective_data.elective.short_name }}" class="checkbox-kind"
                       onclick="change_kind({{ elective_data.elective.id }}, {{ kind_data.kind.id }})"
                        {% if kind_data.selected %} checked {% endif %}>
                <label for="button-{{ kind_data.kind.short_name }}-{{ elective_data.elective.id }}"
                       class="semester-{{ kind_data.kind.semester }} kind-button"
                       title="{{ kind_data.kind.long_name }}">
                  {{ kind_data.kind.short_name }}
                  <div id="statistic-{{ elective_data.elective.id }}-{{ kind_data.kind.id }}" class="statistic">
                    {% if kind_data.statistic > 0 %}
                      {{ kind_data.statistic }}
                    {% endif %}
                  </div>
                </label>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% if elective_data.elective.has_english_kind %}
          <div class="row">
            <div class="col-5">
              <a href={% url 'electives:elective_page' elective_data.elective.id %}>
                {{ elective_data.elective.english_name }}
              </a>
            </div>
            <div class="col-3">{{ elective_data.elective.text_teachers }}</div>
            <div class="col-4">
              {% for kind_data in elective_data.kinds  %}
                <input type="checkbox" id="button-{{ kind_data.kind.short_name }}-{{ elective_data.elective.id }}"
                       value="{{ elective_data.elective.short_name }}" class="checkbox-kind"
                       onclick="change_kind({{ elective_data.elective.id }}, {{ kind_data.kind.id }})"
                        {% if kind_data.selected %} checked {% endif %}>
                <label for="button-{{ kind_data.kind.short_name }}-{{ elective_data.elective.id }}"
                       class="semester-{{ kind_data.kind.semester }} kind-button"
                       title="{{ kind_data.kind.long_name }}">
                  {{ kind_data.kind.short_name }}
                  <div id="statistic-{{ elective_data.elective.id }}-{{ kind_data.kind.id }}" class="statistic">
                    {% if kind_data.statistic > 0 %}
                      {{ kind_data.statistic }}
                    {% endif %}
                  </div>
                </label>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
